    
/*  
    Personal Color Scheme
    rbg YankeesBlue #151842 (21,24,66) for background
    rbg Medium Spring Green #1AEFAC (26,239,172) for buttons and such
    rbg Periwinkle #BFCFFF (191,207,255) for big title text 
    rbg Azureish White #D8E2FF (216,226,255) for small text  

    VSCODE Color Scheme
    bg color rgb(30,30,30)
    blue color rgb(0,122,204)
    heading color rgb(103,205,254)
    text color rgb(206,131,73)

    YOUTUBE Color Scheme
    bg color rgb(24,24,24)
    red color rgb(255,0,0)
    heading color rgb(255,255,255)
    text color rgb(144,144,144)
*/
/*********************************TAG SELECTORS*******************************/

body {
    background-color: #252a34;
    color: #eaeaea;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: auto;
    text-align: center;
    width: 60%;
}
 
h1 {
    color: #ff2e63;
}

h4 {
    color: #ff2e63;
}
p {
    color: #eaeaea;
}

img {
    width: 100px;
}
a, a:visited {
    color: #eaeaea;
    text-decoration: none;
}

a:hover {
    color: rgb(103, 138, 254);
}



/*********************************ID SELECTORS********************************/





/********************************CLASS SELECTORS******************************/

.tble {
    text-align: left;
}



